.main{
    width: 100%;
    height: 80px;
    margin: 0px;
    padding: 0px;
    background: #f3f3f3b0;
    position: fixed;
    z-index: 100;
    transition: all 1s ease;
    border-bottom: 1px solid #00880F;
}
.mainScroll{
    transition: all 1s ease;
    width: 100%;
    height: 80px;
    margin: 0px;
    padding: 0px;
    background: rgb(255, 255, 255);
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid #00880F;
}
.container{
    margin: auto;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.images{
    display: flex;
    width: 120px;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}
/* This place is for logo style if you want to put image you firstly stile it but if you want to put just text it will style automatically */
 .logo{
    height: 40px;
    min-width: 190px;
    background-position: center;
    background-size: cover;
}

.links{
    width: 70%;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}
.main .links .upLink a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    color:  #301A22;
    text-transform: uppercase;
    transition: all 1s ease;
}
.upLink{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inLinks{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.linkDiv{
    position: absolute;
    top: 25px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3b0;
    padding: 0 10px;
    border: 1px solid #00880f;
    opacity: 0;
    transition: all 1s ease;
}
.linkDiv{
    position: absolute;
    top: 80px;
    width: 250px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    padding: 0 10px;
    border: 1px solid #00880f;
    opacity: 0;
    transition: all 1s ease;
}
.inLinks:hover .linkDiv{
    display: flex;
    opacity: 1;
    transition: all 1s ease;
    padding: 20px;
}
.inLink:hover .linkDiv{
    display: flex;
    opacity: 1;
    transition: all 1s ease;
}
.inLink a:hover .linkDiv{
    opacity: 1;
    display: flex;
    transition: all 1s ease;
    
}
.linkDiv a{
    font-size: 14px;
    font-weight: 300;
}
.linkDiv:hover{
    opacity: 1;
    display: flex;
    transition: all 1s ease;
}
.inDiv{
    display: flex;
    flex-direction: column;
    justify-content: left;
    transition: all 1s ease;
    border: 1px solid #00880f;
    /* padding: 10px 0; */
    width: 100%;
    padding: 20px;
}
.main .hoverLink{
    color: #666;
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
    transition: all 1s ease;
    line-height: 1.5;
    padding: 4px 4px;
}
.main .hoverLink:hover{
    text-decoration: underline;
    color: #00880f;
    transition: all 1s ease;
}
.mainScroll .links a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    color: #394939;
    text-transform: capitalize;
    transition: all 1s ease;
}

.links .upLink a::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 0%;
    background-color: #00880F;
    transition: all 1s ease;
    left: 0;
}
.links  .upLink a::before{
    content: '';
    position: absolute;
    top: 0;
    height: 1px;
    width: 0%;
    background-color: #00880F;
    transition: all 1s ease;
    right: 0;
}
.links a:hover::after, .links a:hover::before{
    width: 70%;
    transition: all 1s ease;
}
.links .upLink a:hover {
    color: #00880F;
}
.mainPhone{
    display: none;
}
.mainPhoneScroll{
    display: none;
}
@media screen and (max-width: 800px){
    .main{
        display: none;
        position: fixed;
        z-index: 100;
    }
    .mainScroll{
        display: none;
    }
    .mainPhone{
        position: fixed;
        z-index: 100;
        display: block;
        width: 100%;
        min-height: 80px;
        background: #f3f3f3b0;
        transition: all 1s ease;     
        border-bottom: 1px solid #00880F;
    }
    .mainPhoneScroll{
        position: fixed;
        z-index: 100;
        display: block;
        width: 100%;
        min-height:80px;
        background: #f9f9f9;
        transition: all 1s ease;
        border-bottom: 1px solid #00880F;

    }
    .containerPhone{
        width: 90%;
        margin: auto;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .containerPhone svg{
        fill: #301A22;
        cursor: pointer;
    }
    .containerPhone a{
        text-decoration: none;
        color: #fff;
        font-weight: 300;
        font-size: 18px;
        text-transform: lowercase;
    }
    .linksPhone{
        background:#f9f9f9;
        color:#00880F;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        transition: all 1s ease;
    }
    .linksPhone.clicked{
        width: 100%;
        height: 80vh;
        right: 0;
        position: absolute;
    }
    .linksPhone.clicked a{
        opacity: 1;
        transition: all 1s ease;
        text-transform: capitalize;
    }
    .linksPhone.nonclicked a{
        opacity: 0;
        transition: all.6s ease;
        text-transform: capitalize;
    }
    .linksPhone.nonclicked{
        width: 0%;
        height: 0vh;
        overflow: hidden;
        left: 0;
        position: absolute;
    }
    .linksPhone a{
        font-size: 14px;
        font-weight: 300;
        width: 100%;
        height: 19%;
        color: #000;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .linksPhone a::after{
        content: '';
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 0%;
        background-color: #00880F;
        transition: all 1s ease;
        left: 0%;
    }
    .linksPhone a::before{
        content: '';
        position: absolute;
        top: 0;
        height: 3px;
        width: 0%;
        background-color: #00880F;
        transition: all 1s ease;
        right: 0%;
    }
    .linksPhone a:hover::after{
        width: 70%;
        transition: all 1s ease;
    }
    .linksPhone a:hover::before{
        width: 70%;
        transition: all 1s ease;
    }
    .linksPhone a:hover{
        color: #00880F;
        background-color: rgb(197, 255, 189);
    }
}