.main{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 300px;
    max-height: calc(100vh - 80px);
    top: 80px;
    z-index: 9;
}
.hidden{
    display: none;
}
.unHidden{
    position: absolute;
    top: 0;
    left: 100;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #eee;
    padding: 30px 15px;
    transition: all 1s ease;
    display: block;
    display: flex;
    flex-direction: column;
}
.inSide{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 10px;
    transition: all 1s ease;
}
.inSide a{
    color: #666;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    transition: all 1s ease;
    line-height: 1.5;
    padding: 4px 4px;
    margin-left: 5px;
}
.titleSide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 8px 5px;
    background-color: #fff;
    transition: all 1s ease;
}
.sideBarMobile{
    position: absolute;
    /* top: 90px; */
    left: 20px;
    z-index: 9;
    display: none ;
    
}

.sideBarMobile svg{
    width: 25px;
    height: 25px;
    color: #00880f;
    animation: icon 1s ease infinite ;

    
}


@keyframes icon {
    0% , 100% {
        transform: scale(1);
        opacity: .7;
    }
    25%{
        transform: scale(1.3);
        opacity: 1;
    }
    50%{
        transform: scale(.7);
        opacity: .5;
    }
    75%{
        transform: scale(1.3);
        opacity: 1;
    }
}

@media screen and ( max-width: 800px ) {
    .sideBarMobile{
        display: block;
    }
    .main{
        width: 100%;
    }
}

